services:
  docker-simple-secrets:
    build: .
    container_name: docker-simple-secrets
    ports:
      - '3000:3000'
    environment:
      - OAUTH2_ENABLED=true # This will dynamically load secrets from /var/secrets/$DSS_SERVICE_NAME
      - DSS_SERVICE_NAME=docker-simple-secrets
      - INSECURE_COOKIES=true # only for testing production when not behind reverse proxy
    volumes:
      - ./var/data:/var/data
      - secrets-volume:/var/secrets
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  example-service:
    image: postgres:16-alpine
    container_name: example-postgres
    environment:
      # ENV_VAR: /var/secrets/<service_name>/ENV_VAR
      POSTGRES_PASSWORD_FILE: /var/secrets/postgres/POSTGRES_PASSWORD
    volumes:
      - secrets-volume:/var/secrets:ro
      # - postgres-data:/var/lib/postgresql/data

  example-wud:
    image: getwud/wud
    container_name: wud
    entrypoint: ['/bin/sh', '/var/secrets/entrypoint.sh', 'whatsupdocker']
    volumes:
      - secrets-volume:/var/secrets:ro
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  secrets-volume:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: uid=1001,gid=1001,mode=700
