services:
  docker-simple-secrets:
    build: .
    container_name: docker-simple-secrets
    ports:
      - '3000:3000'
    environment:
      - OAUTH2_ENABLED=true # This will dynamically load secrets from /var/secrets/$DSS_SERVICE_NAME
      - DSS_SERVICE_NAME=docker-simple-secrets
      - INSECURE_COOKIES=true # only for testing production when not behind reverse proxy
    volumes:
      - ./var/data:/var/data
      - secrets-volume:/var/secrets
    restart: unless-stopped

  example-service:
    image: postgres:16-alpine
    container_name: example-postgres
    environment:
      - DSS_SERVICE_NAME=postgres
      - DSS_SERVICE_CMD=docker-entrypoint.sh postgres
      # Secrets will be loaded from /var/secrets/postgres/*.txt
      # Example: POSTGRES_PASSWORD, POSTGRES_USER, POSTGRES_DB
    volumes:
      - secrets-volume:/var/secrets:ro
      # - postgres-data:/var/lib/postgresql/data
    entrypoint: ['/bin/sh', '/var/secrets/entrypoint.sh', 'postgres']

volumes:
  secrets-volume:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: uid=1001,gid=1001,mode=700
